header {}

.main-header {
	@include fixed(top 0 left 0 right 0);
	@include size(height 70px);

	.main-header_container {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		@include size(height 100%);
		@include margin(0 30px);
	}

	.main-logo {
		> h1 {

		}
	}

	.main-navigation {
		ul {
			@include flexbox;

			> li {
				@include transition(all 250ms $transition-bouncy);
				@include font($fs-smallest, $fw-semibold, $lh-base);
				color: shade($clr-primary-light, 20%);
				text-transform: uppercase;
				letter-spacing: 2px;

				> a {	
					@include padding(15px);
				}

				&:hover {
					color: $clr-primary-light;
				}
			}
		}
	}
}
